.App {
  text-align: left;
}

.body {
  padding-bottom: 250px;
}

.blockHeader {
  font-size: large;
}

.block {
  background-color: #f2f2f2;
  margin: 1rem;
  padding: 1rem;
}

.speakerImage {
  height: 12rem;
  width: 12rem;
}

.fbg {
  background-attachment: fixed;
  background-position: 50% top;
  background-size: cover;
  background-image: url("pngegg.png");
  background-color: white;
}

.section {
  background: cover;
  height: 25rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.alignCenter {
  text-align: center;
}

.speakerRow {
  margin: 2rem 1rem;
  max-width: 65rem;
  padding: 6rem 2rem;
}

.section:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0px;
  vertical-align: middle;
}

.card1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card1:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.card2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card2:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card3 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.footer {
  background-color: #f2f2f2;
  clear: both;
  position: relative;
  margin-top: -200px;
}

.footerTextBlock {
  padding: 3rem;
}

.footerText {
  padding: 1rem;
}
