.App {
  text-align: left;
  margin-top: 3rem;
}

.body {
  padding-bottom: 250px;
  min-height: calc(100vh - 80px);
}

.logo {
  font-family: "Monoton", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  margin: auto;
  width: fit-content;
  position: absolute;
  letter-spacing: 1rem;
  top: 16rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.homeBody {
  margin: 0.7rem;
  margin-top: 25rem;
  background-color: #f9fbff;
  border-radius: 2px;
}

.blockHeader {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  text-transform: uppercase;
  margin: auto;
}

.blockParagraph {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  margin-top: 1rem;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  margin: 1rem;
  padding: 1rem;
}

.carousel {
  margin: 2rem 1rem;
}

.carousel-caption {
  font-family: "Montserrat", sans-serif;
  text-align: start;
  text-shadow: 0px 0px 5px #000000;
  bottom: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: fit-content;
}

.speakerImage {
  height: 11rem;
  width: 11rem;
  object-fit: cover;
}

.fbg {
  background-attachment: fixed;
  background-position: 50% top;
  background-size: cover;
  background-image: url("pngegg.png");
  background-color: white;
}

.section {
  /* background: cover;
  height: 25rem;
  position: relative;
  text-align: center;
  width: 100%; */
  height: 100vh;
  position: fixed;
  z-index: -20;
  text-align: center;
  width: 100%;
}

.alignCenter {
  text-align: center;
}

.speakerRow {
  margin: 2rem 1rem;
  max-width: 65rem;
  padding: 6rem 2rem;
}

.section:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0px;
  vertical-align: middle;
}

.card1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card1:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.card2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card2:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card3 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card4 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.countdownBg {
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 1rem;
  height: 20rem;
}

.countdownMainText {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  text-align: center;
  color: #f2f2f2;
  padding-top: 0.6rem;
  margin-bottom: 1.5rem;
}

.flip-countdown-title {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  color: #f2f2f2;
}

.socials img {
  color: rgb(94, 94, 94);
  width: 3.2rem;
  height: 3rem;
  fill: green;
}

.footer {
  background-color: #f2f2f2;
  clear: both;
  position: relative;
  margin-top: -200px;
}

.footerTextBlock {
  padding: 3rem;
}

.footerText {
  padding: 1rem;
}

.speakerName {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  text-transform: uppercase;
}

.speakerCompany {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.speakerText {
  font-family: "Montserrat", sans-serif;
  font-size: small;
}

@media only screen and (max-width: 600px) {
  .speakerRow {
    margin: 1rem 0;
    padding: 2rem 2rem;
  }
  .speakerImage {
    margin-bottom: 1.3rem;
  }
  .card4 {
    box-shadow: none;
    transition: none;
  }
  .logo {
    text-align: center;
    font-family: "Monoton", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: auto;
    width: fit-content;
    position: absolute;
    letter-spacing: 1rem;
    top: 16rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .carousel-caption {
    height: fit-content;
  }
  .carousel-caption h3 {
    font-size: 1rem;
  }
  .carousel-caption p {
    font-size: 0.7rem;
  }
}
